html, body {
  margin: 0;
  padding: 0;
  background-color: #362D95;
  height: 100%;
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  overflow: hidden;
  position: fixed;
}

*{touch-action: none;}